:root {
  --color-primary: #ffe600;
  --color-bg-light: #fbfbfb;
  --color-bg-dark: #11343a;
  --color-bg-darker: #122a2f;
  --color-bg-darkest: #131a1d;
  --color-bg-black: #131316;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
 }

body {
  font-family: 'Oswald', 'Arial', sans-serif;
  color: #707070;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.56;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin-bottom: 0;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1225px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.background-light {
  background-color: var(--color-bg-light);
}

.background-dark {
  background-color: var(--color-bg-dark);
}

.background-darker {
  background-color: var(--color-bg-darker);
}

.background-darkest {
  background-color: var(--color-bg-darkest);
}

.background-black {
  background-color: var(--color-bg-black);
}

.inverse {
  color: #ffffff;
}
